{% extends 'base.html.twig' %}

{% block body %}
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Action</td>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td><a href="{{ url('get_item', {id : item.id} )}}">Show</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

