{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
        </tr>
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.description }}</td>
            </tr>
    </table>

    <br>
    <a href="{{ url('get_all_items')}}">All items</a>
{% endblock %}

